html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(245, 245, 245);
}

.container{
  margin: 50px auto 0 auto;
}

.nav-container {
  margin-left: auto;
}

.nav-container svg{
  color: #ffffff;
}

a{
  text-decoration: none;
}

.spacingText{
  padding: 20px;
}

.iconSpacing{
  margin: 16px;
}

.logoSize {
  height: 35px;
  width: 35px;
  padding: 10px;
}

.iconColor {
  color: white;
  text-decoration: none;
  align-content: center;
  display: flex;
}
.markerIcon{
  color: red;
  size: 35px;
}
